
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Search
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchVar" (ngModelChange)="search()" ></ion-searchbar>
  <ion-item *ngFor="let food of foodMenu">
    <ion-label class="text">
      <img style="width: 100px; height: 100px" src="{{ food.image }}">
      <p>Company Name : {{food.companyName}}</p>
      <h3>Food Name : {{ food.name}}</h3>
      <h3>Food Menu : {{food.foodMenu }}</h3>
      <h3>Food : {{ food.food }}</h3>
      <h3>Details : {{food.details}}</h3>
      <h3>Price : ${{food.price}}</h3>
    </ion-label>
  </ion-item>
</ion-content>
