<ion-header>
  <ion-toolbar>
    <ion-title >McDonald's - Menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-sliding    >
    <ion-item class="no-padding">
      <ion-label>
        <h2>Order List!</h2>
      </ion-label>
      <!-- <p>Order List</p> -->
    </ion-item>
    <ion-item class="no-padding"*ngFor="let tran of transactions">
      
      <ion-label>
        <h2>Order No. {{tran.index}}</h2>
        <p>{{ tran.details}}</p>
      </ion-label>
      <ion-button fill="clear" >
        {{tran.price}}
      </ion-button>
    </ion-item>

    
   
  </ion-item-sliding>


  
</ion-content>
